.icons{
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 0px;
}

.profile-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 40px;
}

.search-input-container{
    display: flex;
    align-items: center;
    margin-top: 9px;
    background-color: rgb(224, 228, 232);
    padding: 5px;
    flex: 4;
    border-radius: 10px;
}

.icons-container{
    display: flex;
    align-items: center;
    flex: 0.22;
    margin-right: 20px;
}

.main-navbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.logo-container{
    flex:0.2;
}

.search-icon{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.search-input {
    width: 33pc;
    border: none;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(224, 228, 232);
}