.icons{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 0px;
}

.part{
    color: rgb(167, 127, 127);
}

.profile-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 40px;
}

.search-input-container{
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: rgb(224, 228, 232);
    padding: 5px;
    margin-left: 20px;
    width: 500px;
    flex: 4;
    border-radius: 10px;
}

.icons-container{
    display: flex;
    align-items: center;
    flex: 0.22;
    margin-right: 20px;
}

.main-navbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.logo-container{
    flex:0.2;
    width: 100px;
    margin-left: 50px;
}

.search-icon{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.search-input {
    outline: none;
    width: 8pc;
    border: none;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(224, 228, 232);
}

.search-result{
    width: 510px;
    height: 200px;
    margin-left: 20px;
    margin-top: 45px;
    background-color: black;
    border-radius: 10px;
}

.search-container{
    margin-left: 200px;
}

.search-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-container{
    width: 470px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-bottom: 2px;
    display: flex;
    margin-right: 5px;
    margin-top: 2px;
} 

.users-container{
    margin-left: -15px;
    margin-top: 15px;
    overflow: hidden;
    overflow-y: scroll;
}